<a href="https://colab.research.google.com/github/GwonDooHyeon/PythonBasic/blob/main/PythonDay2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 문자열 함수(메서드)

#문자 개수 세기(count)

a = "school"
a.count('o')

2

In [10]:
# 위치 알아내기 (find) , 만약 없는 문자를 찾는 경우 -1 출력
a = "school"
print(a.find('o'))
print(a.find('z'))

3
-1

In [12]:
# 위치 알아내기 (index), 만약 없는 문자를 찾는경우 오류 출력

a = "school"
print(a.index('o'))  # 처음 나오는 위치의 index 번호
# print(a.index('z'))

3

In [17]:
#문자 삽입 join

print(" ".join("abcd"))
print(",".join("abcd"))

a b c d
a,b,c,d

In [19]:
# 대문자로 바꾸기 upper

a = "Hello"
a.upper()

'HELLO'

In [21]:
# 소문자로 바꾸기 lower
a = "HELlo"
a.lower()

'hello'

In [24]:
# 공백 제거 왼쪽 lstrip
a = ' Hello'
a.lstrip()

'Hello'

In [26]:
# 공백 제거 오른쪽 rstrip
a = "Hello "
a.rstrip()

'Hello'

In [28]:
# 공백 제거 왼쪽/오른쪽(둘다) 제거 strip

a = " hello "
a.strip()

'hello'

In [30]:
# 글자 바꾸기 replace

a = "i love you"
a.replace("love", "hate")

'i hate you'

In [35]:
# 문자열 나누기 split

addr = "서울시 강남구 테헤란로 77"
print(addr.split()) # 생략시 빈칸을 기준으로 분리

addr = "서울시#강남구#테헤란로#77"
print(addr.split("#")) # 생략시 빈칸을 기준으로 분리
print(type(addr.split("#")))

['서울시', '강남구', '테헤란로', '77']
['서울시', '강남구', '테헤란로', '77']
<class 'list'>

In [43]:
# LIST, TUPLE, DICT, SET
# 여러 데이터들의 묶음 Collection 컬렉션


# LIST --> [] 대괄호
# mutable 수정 가능하다.
# ordered 순서가 있다.
# indexing & slicing이 가능
# [1]

a = []
b = [1,2,3]
c = ['a', 'b', 'c']
d = [1, 2, 'a', 'b']

print(b[0]) # 인덱싱
print(c[1:]) # 슬라이싱
print(d[-1]) # 마지막 요소는 -1

# a[0] = 9    # a 리스트에 아무 원소가 없어서 에러 발생
b[0] = 9     # b 리스트는 원소가 있으므로 수정 가능
print(b)

print(c)
del c[2]  # 리스트는 삭제 가능
print(c)

print(a)
a.append(0) # 리스트는 삽입 가능
print(a)

1
['b', 'c']
b
[9, 2, 3]
['a', 'b', 'c']
['a', 'b']
[]
[0]

In [60]:
# 리스트에서 많이 사용되는 함수 정리

#요소 추가 append  - 마지막 위치에만 요소 추가
a.append(0)
print(a)

# 요소 추가 insert - 특정 위치 지정하여 요소 추가 가능
d = [1, 2, 3]
d.insert(0, 5)
print(d)

# 정렬 sort
a = [1, 3, 2, 4]
a.sort()
print(a)

# 뒤집기 reverse
a.reverse()
print(a)

# 인덱스 index
a.index(3)
# a.index(5) 없는 요소는 에러 발생

# 삭제 remove 중복 되는 수는 처음 등장하는 하나만 삭제 
print()
a = [1, 2, 3, 3, 5] 
a.remove(3)
print(a)

# 삭제 pop 
a = [1, 2, 3]
a.pop() # 괄호에 값이 없으면 마지막 요소를 삭제
print(a)

a = [1, 2, 3]
a.pop(0) # 괄호에 값이 있으면 그 요소를 삭제
print(a)

# 개수 세기 count
a = [1, 2, 3, 3]
print(a.count(3))

[1, 2, 3, 3, 0]
[5, 1, 2, 3]
[1, 2, 3, 4]
[4, 3, 2, 1]

[1, 2, 3, 5]
[1, 2]
[2, 3]
2

In [65]:
# TUPLE --> () 소괄호
# imutable 수정 불가능
# indexing & slicing 가능
# 한개의 요소로 tuple을 만들 때 (1,) 쉼표를 괜히 넣는다

a = ()
b = (1,) # 한개의 요소로 tuple을 만들 때 (1,) 쉼표를 괜히 넣는다
c = (1,2,3)
d = (1, 2, 'a', 'b')

# del d[0]   imutable 튜플은 삭제 불가
# d[0] = 9   imutable 수정도 불가
# d.append(5) imutable 삽입도 불가

print(d[0]) # 인덱싱이 가능
print(d[0:2]) # 슬라이싱 가능. 마지막은 미만으로 처리

print(len(d)) # 튜플 요소의 개수를 반환하는 함수

1
(1, 2)
4

In [71]:
# DICT --> { } 중괄호
# mutable 수정 가능
# Key와 Value값으로 되어 있기 때문에 indexing & slicing이 불가
# Key값과 Value값 형태로 데이터 저장

# 세상의 많은 데이터가 key : value 형태로 표현된다. ex) 이름 : 홍길동, 나이 : 23
# 이러한 대응 관계를 파이썬에서 데이터를 저장하는 방식을 딕셔너리라고 한다.
# 마치 JS의 JSON과 상당히 유사한 공통점을 가지고 있다.

a = {'이름' : '홍길동', '나이' : 20}
b = {'이름': '홍길동', '나이' : 20, '보유코인' : ['비트코인', '에이다', '이더리움']}

a['키'] = 185 # dict는 mutable한 속성으로 삽입 가능
print(a)
del a['나이'] # dict는 mutable한 속성으로 삭제도 가능
print(a)
a['키'] = 190 # dict는 mutable한 속성으로 수정도 가능
print(a)

# a[0]    # dict는 인덱싱 불가능
# a[0:2]    # dict는 슬라이싱 불가능

{'이름': '홍길동', '나이': 20, '키': 185}
{'이름': '홍길동', '키': 185}
{'이름': '홍길동', '키': 190}

In [82]:
# 딕셔너리에서 많이 사용되는 함수 정리

# 딕셔너리에서 키값들만 추출

a = {'이름': '홍길동', '나이' : 20, '보유코인' : ['비트코인', '에이다', '이더리움']}
print(a.keys())

# 딕셔너리에서 밸류값들만 추출
print(a.values())

# 쌍으로 추출 (튜플 쌍으로 추출)
print(a.items())

# 키값으로 밸류값 추출1 (인덱싱이 불가능하기 때문에 꺼낼때 많이 사용된다.)
print(a['이름'])
# print(a['몸무게'])  # 찾는 키값이 없을때 오류 발생

# 키값으로 밸류값 추출2
print(a.get('이름'))
print(a.get('몸무게')) # 찾는 키값이 없을때 None 출력

# 키가 딕셔너리안에 있는지 확인
'이름' in a   # 찾는 키값이 있을때 true 반환
'몸무게' in a # 없을 때는 false

dict_keys(['이름', '나이', '보유코인'])
dict_values(['홍길동', 20, ['비트코인', '에이다', '이더리움']])
dict_items([('이름', '홍길동'), ('나이', 20), ('보유코인', ['비트코인', '에이다', '이더리움'])])
홍길동
홍길동
None

False

In [92]:
# SET --> { } 중괄호
# mutable 수정 가능
# & indexing & slicing 불가능
# unordered 순서가 없다.
# 중복데이터를 허용하지 않는다.

# a =  {} # 딕셔너리와 셋은 동일할게 { } 사용함. 따라서 빈 값으로 생성할때 주의 !!
a = set()
b = {1, 2, 3}
c = {1, 2, 'a', 'b'}
d = {1, 2, 2, 2, 3, 4, 4}
print(d)

a.add(0)  # mutable 삽입 가능
print(a)
print(c)
c.remove(2)
print(c)

{1, 2, 3, 4}
{0}
{1, 2, 'b', 'a'}
{1, 'b', 'a'}

In [96]:
# 불 Bool 자료형 boolean

# 반드시 대문자로 시작한다.
a = True
b = False
c = "true"

print(type(a))
print(type(c))

print(1 == 1)
print(1 != 1)

<class 'bool'>
<class 'str'>
True
False

In [99]:
# 키보드로 입력 받기
a = input()
print(a)

20
20

In [101]:
a = input("지금이 오후인가요?")
print(a)

지금이 오후인가요?네
네

In [105]:
# 파이썬에서 input은 항상 일단 먼저 모두 문자 취급한다.

#a = input("지금 몇시에요?")
#print(a+1)

a = int(input("지금 몇시에요?"))
print(a+1)

지금 몇시에요?3
4

In [111]:
#69
country = ('한국', '브라질', '일본', '미국', '아르헨티나')
print(country)
b = input()
print(country.index(b))

('한국', '브라질', '일본', '미국', '아르헨티나')
미국
3

In [116]:
#71
sports = ['축구', '야구']
question = input("무슨 스포츠를 가장 좋아하나요?")

sports.append(question)
sports.sort()
print(sports)

무슨 스포츠를 가장 좋아하나요?피구
['야구', '축구', '피구']

In [118]:
#72
subjects = ['국어', '영어', '사회', '과학', '스포츠', '음악']
a = input("싫어하는 과목은?")
subjects.remove(a)
print(subjects)

싫어하는 과목은?사회
['국어', '영어', '과학', '스포츠', '음악']

In [130]:
#73
dict = {}

q1 = input("food u like : ")
dict[1] = q1

q2 = input("food u like : ")
dict[2] = q2

q3 = input("food u like : ")
dict[3] = q3

q4 = input("food u like : ")
dict[4] = q4

print(dict)

rem = int(input('몇번 음식을 지우겠습니까?'))
del dict[rem]

print(dict)

food u like : ㄱ
food u like : ㄴ
food u like : ㄷ
food u like : ㄹ
{1: 'ㄱ', 2: 'ㄴ', 3: 'ㄷ', 4: 'ㄹ'}
몇번 음식을 지우겠습니까?2
{1: 'ㄱ', 3: 'ㄷ', 4: 'ㄹ'}

In [131]:
#74
a = ['빨', '주', "노", "초", "파", "남", "보", '검', '흰', '그레이' ]
q1 = int(input())
q2 = int(input())
print(a[q1:q2])

0
5
['빨', '주', '노', '초', '파']