<a href="https://colab.research.google.com/github/GwonDooHyeon/PythonBasic/blob/main/PythonDay3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 조건문 if

x = 10
if x == 10:
  print(x)

10

In [ ]:
a = int(input('정수를 입력하세요'))
if a == 5:
  print(f'입력한 값은 {a}입니다')

정수를 입력하세요5
입력한 값은 5입니다

In [ ]:
# 조건식을 여러개 취급해야하는 경우 가능하면 중첩/병렬 if문은 사용하지 말자.
x = 15
if x>=10 :
  print('x는 10 이상입니다.')
  if x<=20:
    print('x는 20이하입니다.')
  if x==15:
    print('x는 15입니다.')

x는 10 이상입니다.
x는 20이하입니다.
x는 15입니다.

In [ ]:
a = int(input('숫자를 입력하세요'))

if a > 5 :
  print('입력값이 5보다 큽니다.')
elif a == 5:
  print('입력값이 5입니다.')
else:
  print('입력값이 5보다 작습니다')

숫자를 입력하세요4
입력값이 5보다 작습니다

In [ ]:
a = int(input('월을 입력하세요'))
if a >=3 and a<=5:
  print('봄')
elif a >=6 and a<=8:
  print('여름')
elif a >=9 and a<=11:
  print('가을') 
else:
  print('겨울')

월을 입력하세요10
가을

In [ ]:
a = int(input())

print('홀수') if a % 2 == 1 else print('짝수')

20
짝수

In [ ]:
list1 = ['봄', '가을']

input1 = input('어느 계절을 좋아하시나요?')

if input1 in list1:
  print(f'{input1}은 여행 가능한 계절입니다.')
else:
  print(f'{input1}에 여행이 불가능한 계절입니다.')

어느 계절을 좋아하시나요?가을
가을은 여행 가능한 계절입니다.

In [ ]:
a = int(input())

if a>89 :
  grade = 'A'
elif(a >79):
  grade = 'B'
elif(a >69):
  grade = 'C'
elif(a > 59):
  grade = 'D'
else:
  grade = 'E'  

print(f'당신의 점수 {a}는 {grade}학점입니다.')

51
당신의 점수 51는 E학점입니다.

In [ ]:
# 반복문 While For

# While은 반복횟수가 불명확할때 사용
# For문은 반복횟수가 명확할때 주로 사용된다.

for i in range(10):
  print('hi')

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [ ]:
list1 = [10, 30, 20, 50]
for i in list1:
  print(i)

10
30
20
50

In [ ]:
list1 = [10, 30, 20, 50]
for i in range(4):
  print(list1[i])

10
30
20
50

In [ ]:
sum = 0
for i in range(101):
  sum += i
print(sum)

5050

In [ ]:
#for i in range(2, 10):
#  for j in range(1, 10):
#    print(i, "x", j, "=", i * j)

for i in range(2, 10):
  for j in range(1, 10):
    print(i, "x", j, "=", i * j, end='\t')
  print('')

2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 5 = 10	2 x 6 = 12	2 x 7 = 14	2 x 8 = 16	2 x 9 = 18
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 5 = 15	3 x 6 = 18	3 x 7 = 21	3 x 8 = 24	3 x 9 = 27
4 x 1 = 4	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20	4 x 6 = 24	4 x 7 = 28	4 x 8 = 32	4 x 9 = 36
5 x 1 = 5	5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 5 = 25	5 x 6 = 30	5 x 7 = 35	5 x 8 = 40	5 x 9 = 45
6 x 1 = 6	6 x 2 = 12	6 x 3 = 18	6 x 4 = 24	6 x 5 = 30	6 x 6 = 36	6 x 7 = 42	6 x 8 = 48	6 x 9 = 54
7 x 1 = 7	7 x 2 = 14	7 x 3 = 21	7 x 4 = 28	7 x 5 = 35	7 x 6 = 42	7 x 7 = 49	7 x 8 = 56	7 x 9 = 63
8 x 1 = 8	8 x 2 = 16	8 x 3 = 24	8 x 4 = 32	8 x 5 = 40	8 x 6 = 48	8 x 7 = 56	8 x 8 = 64	8 x 9 = 72
9 x 1 = 9	9 x 2 = 18	9 x 3 = 27	9 x 4 = 36	9 x 5 = 45	9 x 6 = 54	9 x 7 = 63	9 x 8 = 72	9 x 9 = 81

In [ ]:
i = 10
while i > 5:
  print('hi')
  i -= 1

hi
hi
hi
hi
hi

In [ ]:
import random

no = 0 
while no != 3: # 3이 나올때 까지 반복하여 난수 발생
  no = random.randint(1, 6) #randint는 끝 숫자도 포함된다.
  print(f'발생된 난수는 {no}입니다.')

발생된 난수는 5입니다.
발생된 난수는 4입니다.
발생된 난수는 3입니다.

In [ ]:
# 난수 발생 정리
import random 

random.random() # 0에서 1미만 실수 float으로 생성

0.8250675444383959

In [ ]:
random.randint(1, 5) # 1에서 5이하 정수 생성

3

In [ ]:
random.randrange(0, 10, 2) #0에서 10미만 중 2의 배수로 난수 발생

4

In [ ]:
random.choice(['봄', '여름', '가을', '겨울']) # 리스트의 값 들중 하나를 선택

'봄'

In [ ]:
random.sample(range(1, 46), 6) #1부터 46까지 임의의 6개 뽑기

[39, 21, 15, 5, 23, 35]

In [ ]:
list1 = [1,2,3,4,5]
print(list1)
random.shuffle(list1)
print(list1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
# break continue

i = 0
while i < 10:
  i += 1
  if i % 2 == 0:
    if i == 4:
      break
    print(i)

2